*{padding:0; margin:0}
body{
    font-family: "Microsoft Yahei";
    overflow-x: hidden;
    background-attachment:fixed;
}
#hd-con1{
    width:100%;
    height:120px;
    background-image: url(../images/1.jpg);
    background-size:cover;
    padding:0;
}
#con1-text1{
    color:#fff;
    text-align: left;
    font-size: 30px;
    line-height: 80px;
    font-family: "Microsoft Yahei";
    position: relative;
    left:150px;
}
#hd-con2{
    width:100%;
    height:41px;
    background: #303033af;
    z-index:9999;
    position:absolute;
    top:80px;
}
.one{
    list-style: none;
    width:1200px;
    height:41px;
    margin:0 auto;
}
.one li{
    float: left;
    height:41px;
    width: 14.285714%;
    text-align: center;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    line-height:41px;
    position:relative;
}
.one li a{
    color: white;
}
.one>li:hover{
    background: #4e4c44e7;
}  

.two{
    list-style: none;
    display: none;
} 
.one li:hover .two{
    display: block;
}
.two li{
    height:35px; 
    width:100%;
    line-height:35px;
    text-align:left;
    font-size:14px;
    font-family: "Microsoft Yahei";
    opacity: 0.9;
    z-index:9999;
    background: #4e4c44e7;
}
.two a{
    padding:0 0 0 10px;
    width:100%;
}
.two>li:hover{
    background: #4e4c44;
} 
a{
    text-decoration-line: none;
}

.contain-1{
    width:100%;
    height:145px;
    margin:0 auto;
}
#table1{
    width: 75%;
    padding-top: 10px;
    margin: 0px auto;
}
#tb1-tr1-td{
    text-align: left;
    width:608px;
    height:50px;
    color:#1d2d45;
    line-height: 28px;
    font-size:14px;
    font-weight: bolder;
    background-color: rgba(172, 160, 134, 0.507);
    padding: 10px 65px 15px 35px;
    font-family: "Microsoft Yahei";
    border-top:solid 5px rgba(185, 169, 134, 0.774);
}

#table2{
    width: 75%;
    padding-top: 1px;
    margin: 0px auto;
    
}
#title1{
    height:14px;
    color:#1d2d45;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
#tb2-tr1-tb{
    width:100%;
    border: 1px solid #cce8ff;
    background-color: #FFFFFF;
}
#title2{
    height:14px;
    color:#1d2d45;
    font-size: 16px;
    font-weight: bold;
    padding-top:20px;
    text-align: left;
}
#title-c{
    background-color: rgb(238, 246, 255);
}
#ul2{
    list-style-type:none;
    color:#1d2d45;
    font-size:12px;
    text-align: left;
}
#li2{
    line-height:26px;
}
#span-name{
    padding-left: 40px;
}
#span-phone{
    padding-left: 16px;
}
#tb2-tr2-tb{
    width:100%;
    border: 1px solid #868682a8;
    background-color: #FFFFFF;
    position: relative;
    top:20px;
}
#title-a{
    height:40px;
    background-color: rgba(172, 160, 134, 0.507);
}
#p1{
    color: red;
    font-size: 9px;
    font-family: verdana;
    margin-right: 5px;
    float:left;
    font-weight: bold;
    padding-left: 10px;
    line-height:5px;
}
#p2{
    color: #1d2d45;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height:5px;
}
#ul1{
    list-style-type:none;
    color:#1d2d45;
    font-size:12px;
    text-align: left;
    height:105px;
    position: relative;
    left:20px;
}
#li1{
    line-height: 20px;
}
#tb2-tr3-tb{
    width:100%;
    border: 1px solid rgba(172, 160, 134, 0.507);
    background-color: #FFFFFF;
    position: relative;
    top:40px;
}
#title-b{
    height:40px;
    background-color: rgba(172, 160, 134, 0.507);
}
#p3{
    color: #1d2d45;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    line-height:5px;
}
#textBox{
    width:297px;
    height:75px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 40px;
}

#tb2-tr4-tb{
    width: 100%;
    text-align: center;
    position: relative;
    top:50px;
}
.ui-button{
    width:55px;
    height:30px;
    color:#fff;
    font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size:13.2px;
    font-weight: bold;
    text-align: center;
    margin-right: .1em;
    text-align: center;
    background-color:rgba(119, 107, 82, 0.993);
    border:solid 1px rgba(172, 160, 134, 0.507);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}
.ui-button:hover{
    background:rgb(63, 61, 49);
}
